@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff;
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

/* Style Nav */

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    color: #000;
    font-weight: bolder;
}

#logo:hover {
    color: lightsalmon;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background: lightsalmon;
}

#logo,
#menu {
    line-height: 70px;
}

.active {
    border-bottom: 1px solid #000;
}

/* Main Section */
#main-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url('/assets/images/main-image.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text h1 {
    color: #fff;
    font-size: 230%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#cover-text p {
    padding-top: 10px;
    color: #a52;
    text-transform: none;
    font-size: 170%;
    font-family: 'Open Sans', sans-serif;
}

#cover-text {
    width: 500px;
    height: 280px;
    padding-top: 25px;
    padding-left: 10px;
    background-color: rgba(244, 162, 97, 0.9);
    top: 40px;
    left: 100px;
    position: absolute;
}

#cover-text a {
    text-decoration-line: none;
    color: #fff;
}
hr {
    border: 1px solid red;
  }
/* Footer */

footer {
    height: 150px;
    width: 100%;
    display: inline-block;
}

.social {
    text-align: center;

}

.social li {
    display: inline;
}

.social i {
    font-size: 170%;
    margin: 1%;
    padding: 5%;
    color: #a52;
}


/* Activites Section */

#activites {
    height: 650px;
    width: 100%;
}

#cards {
    height: 600px;
    text-align: center;
}

#activites h1 {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
    font-size: 40px
}

#cards h2 {
    color: #a52;
    font-size: 30px;
    padding-bottom: 15px;
}

#cards p {
    font-size: 20px;
}

img {
    width: 100%;
    height: 450px;
    background-size: cover;
}

button {
    transition-duration: 0.4s;
    background-color: #a52;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 8px;
}

button:hover {
    background-color: #a52a2a;
    color: white;
}

.card1 {
    padding-top: 30px;
    height: 560px;
    width: 33%;
    float: left;
    text-align: center;
}

.card3 {
    padding-top: 30px;
    height: 560px;
    width: 33%;
    margin: 0 auto;
    text-align: center;

}

.card2 {
    padding-top: 30px;
    height: 560px;
    width: 33%;
    float: right;
    text-align: center;
}
/* Form section */
.form-section {
    height: 600px;
    width: 100%;
    background: url('/assets/images/form_background.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #000;
    background-color: rgba(244, 162, 97, 0.9);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h1 {
    color: #000;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: lightskyblue;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}