@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: rgb(126, 121, 131);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
}

#logo:hover {
    color: lightsalmon;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background: lightsalmon;
}

#logo, #menu {
    line-height: 70px;
}

.active {
    border-bottom: 1px solid #000;
}