@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #fff;
    font-family : 'Roboto', 'Open Sans', sans-serif;
}

/* Style Nav */
#logo {
    float: left;
    font-size: 250%;
    margin-left: 30px;
    color: #000;
    font-weight: bolder;
}

#logo:hover {
    color: lightsalmon;
}

#menu {
    font-size: 120%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background: lightsalmon;
}

#logo, #menu {
    line-height: 70px;
}

.active {
    border-bottom: 1px solid #000;
}

/* Main Section */
#main-section {
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#main-image {
    height: 600px;
    width: 100%;
    background: url('/assets/images/main-image.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text h1 {
    color: #fff;
    font-size: 230%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

}

#cover-text p {
    padding-top: 10px;
    color: #a52;
    text-transform: none;
    font-size: 170%;
    font-family: 'Open Sans', sans-serif;
}

#cover-text {
    width: 500px;
    height: 280px;
    padding-top: 25px;
    padding-left: 10px;
    background-color: rgba(244, 162, 97, 0.9);
    top: 40px;
    left: 100px;
    position: absolute;
}

#cover-text a {
    text-decoration-line: none;
    color: #fff;
}

/* Activites Section */

#activites {
    height: 600px;
    width: 100%;
    position: relative;
  }
  
  #activites h2 {
    text-align: center;
    padding-top: 35px;
  }

  #camel-card {
   background-color: greenyellow;
   padding-top: 30px;
   width: 33%;
   height: 600px;
   float: left;
  }

  .camel-trip-img {
    height: 300px;
    width: 100%;
    background: url('/assets/images/camel-trip.jpg') no-repeat center center;
    background-size: cover;
  }

  #biking-card {
    background-color: hotpink;
    padding-top: 30px;
    margin: 0 auto;
    width: 33%;
  }

  .quad-biking-img {
    height: 300px;
    width: 100%;
    background: url('/assets/images/quad-biking.jpg') no-repeat center center;
    background-size: cover;
  }

  #sandboarding-card {
    background-color: indigo;
    padding-top: 30px;
    float: right;
    width: 33%;
  }
  
  .Sandboarding-img {
    height: 300px;
    width: 100%;
    background: url('/assets/images/sandboarding1.jpg') no-repeat center center;
    background-size: cover;
  }